body {
    background-color: #d6d6d6;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
/*formatação logoP*/
.logoP {
    height: 100px;
    width: auto;
}

/*formatação do mapa*/
#svg-map path {
    fill: #224ca7;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#svg-map text {
    fill: #fff;
    font: 12px Arial-BoldMT, sans-serif !important;
    cursor: pointer
}

#svg-map a {
    text-decoration: none;
}

#svg-map a:hover {
    cursor: pointer;
    text-decoration: none
}

#svg-map a:hover path {
    fill: #061942 !important;
    color: #FFF !important;
}

#svg-map .circle {
    fill: #06464b
}

#svg-map a:hover .circle {
    fill: #061942 !important;
    cursor: pointer
}

.container {
    display: flex;
    justify-content: center;
}

/*formatação index*/

nav.menu {
    text-align: right;
    margin-top: -80px;
}

nav.menu a {
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
    color: black;
    position: relative;
}

nav.menu a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav.menu a:hover::after {
    width: 100%;
}

.topo p {
    margin-top: -20px;
}

.topo img {
    height: 400px;
    height: 400px;
    display: block;
    margin: 150px auto;
}

.link ul {
    border-right: 1px solid #000 !important;
    width: 100px !important;
}

.topo ul {
    border-right: 3px solid #000;
    width: 290px;
}

/*formatação declarações*/

ul {
    list-style: none;
    margin-top: 100px;
}

ul.declaracao a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.3S ease-in-out;
    color: #000000;
    letter-spacing: 1px;
}

ul.declaracao a:hover {
    border-bottom: 1px solid #000000;
    transition: 0.3S ease-in-out;
}

ul.declaracao li {
    margin: 20px 0 5px 0;
}

/*imagem link*/

.imagem_link {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    margin: 15px;
    height: 750px;
    width: 700px;
    border: 1px solid #000;
    border-radius: 10px;
}

.imagem_link:hover {
    opacity: 0.3;
}

.modelos {
    display: flex;
    justify-content: center;
    align-items: flex-start;/* Alinha os itens ao topo */
}

/*relatorios*/

ul.relatorio li {
    text-transform: uppercase;
}

footer{
    text-align: center;
    color: #fff;
    background-color: #00000079;
    padding: 1px;
    text-shadow: 2px 2px 5px #000;
    letter-spacing: 2px;
}