body{
    background-color: #d6d6d6;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.content{
    text-align: center;
    margin-top: 150px;
}

.hero{
    font-size: 40pt;
    text-shadow: 2px 2px 5px #ffffff;
    text-align: center;
}

h2{
    font-size: 22pt;
    text-align: center;
    text-decoration: underline;
}

section{
    width: 1100px;
    background-color: #fff;
    padding: 10px;
    margin: 35px auto;
    border-radius: 5px;   
}

section p b{
    text-align: justify;
    font-size: 20px;
}

section h3{
    background-color: #e2dfdf;
    padding:10px;
    border-radius: 5px;
    font-size: 15pt;
    margin: 0;
}

#botaoTopo {
    position: fixed;
    bottom: 52px;
    right: 60px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semi-transparente */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease-in-out;
    z-index: 1000; /* Garante que fique acima de outros elementos */
  }
  
  #botaoTopo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #botaoTopo svg {
    width: 30px;
    height: 30px;
  }
  
  #botaoTopo.mostrar {
    opacity: 1; /* Torna visível quando a classe 'mostrar' é adicionada */
  }

  .destaque {
    background-color: yellow;
    color: black;
    font-weight: bold;
  }